
  /* 7 */
  h3 {
    margin: 0;
    padding-bottom: .3em;
    font-size: 1.1em;
  }
  
  p {
    margin: 0;
    padding: 0 0 .5em;
  }
  
  .pane {
    background: #edf5e1;
    padding: 10px 20px 10px;
    border-top: solid 2px #c4df9b;
    position: relative;
  }
  .remove-button  {
    position: absolute;
    right: 2%;
    border: none;
    background: none;
    color: red;
  }
  /* 8 */
  /*
  .wrapper {
    margin: 10px auto;
    width: 450px;
    display: flex;
    justify-content: space-between;
}
.slayderButton {
    height: 20px;
    align-self: center;
}
.slayder {
    width: 390px;
    overflow: hidden;
    display: flex;
}
*/

/*8.1*/

.wrapper {
  position: relative;
  width: 450px;
  margin: 10px auto;
  padding: 10px 40px;
}
/* .container {
  width: 386px;
  overflow: hidden;
}
.slayder {
  width: 19999px;
  padding: 0;
}
li {
  display: inline-block;
  list-style: none;
  margin-left: -4px;
}
.slayderButton {
  position: absolute;
  top: 40%;
}
.next {
  right: 50px;
}
.back {
  left: 0;
}
.slayder img {
  display: block;
  width: 130px;
  transform: translateX(0px);
} */

.bordered{
  border: 1px solid red;
  box-shadow: 0 0 5px black;
}